body {
    text-align: center; 
    background-color: white;
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
  }
.header {
    background-color: black;
    color: white;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
.logo {
  align-content: initial;
  padding-left: 2em;
}
.logoPNG{
  width: 150px; 
  height: 150px; 
}
.contact {
  padding-right: 2em;
  text-align: end;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
}
.divider {
  background-color: burlywood;
  width: 100%; 
  height: 15px; 
}
.section1 {
  width: 100%;
  height: 760px; 
  background-image: url("assets/house.jpg");
  background-attachment: fixed;
  background-position: top;
  background-position-y: 20px; 
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
  border-top: solid 1px burlywood;
}
.caption {
  opacity: 90%;
  text-align: center;
  margin: auto; 
  padding: 10px;
  background-color: white; 
  position: relative;
  width: 800px;
}
.working {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 20px;
}
.ready {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 900;
}
.sick {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  font-style: italic; 
}
hr {
  border: solid 1px #1670BE; 
}
.answer {
  font-size: 15px; 
  font-style: normal; 
  color: black; 
}
.answer2 {
  font-style: normal; 
  font-weight: bold; 
  color: black; 
}
.contactUs {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.enterAddress {
  margin: auto;
  position: relative; 
  top: 20px; 
  background-color: rgba(255, 255, 255, .9);
  width: 700px;  
  padding-top: 15px; 
  padding-bottom: 15px; 
  
}
.offer {
  width: 500px;
  margin:auto;
}
.let {
  margin: auto; 
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; 
  font-size: 35px;
  color:  black;
  text-decoration: underline;
}
.inputAddress {
  width: 500px;
  border: solid 1px #1c87c9;
  background: #eee;
  border-radius: 10px;
  height: 70px;
  box-shadow: 0 0 3px #9ecaed;
  margin: auto; 
}
.inputAddress {
  padding-left: 20px; 
  font-size: 15px; 
}
.openButton {
  border: none;
  border-radius: 10px;
  background-color: #1c87c9;
  color: white;
  cursor: pointer;
  height:70px;
  width: 500px;
  margin: auto; 
}
.openButton:hover {
  box-shadow: 0 0 10px #1670BE;
}
.openButton:active {
  background-color: white;
  color: #1670BE;
}
.loginPopup {
  margin: auto; 
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  max-width: 750px;
  padding: 5px 20px;
  background-color: #fff; 
}
.formContainer input[type=text],
.formContainer input[type=email],
.formContainer textarea[type=text] {
  width: 100%;
  padding: 15px 5px;
  margin: 5px 5px;
  border: solid 1px #1670BE;
  background: #eee;
  border-radius: 5px; 
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus, 
.formContainer textarea[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  border-radius: 5px; 
  padding: 12px 20px;
  border: none;
  background-color: #1670BE;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
  font-weight:bolder; 
}
.formContainer .btn:hover {
  box-shadow: 0 0 10px #1670BE;
}
.formContainer .cancel {
  background-color: #cc0000;
} 
.formContainer .cancel:hover {
  box-shadow: 0 0 10px #cc0000;
}
.openButton:hover {
  opacity: 1;
  box-shadow: 0 0 10px #1670BE;
}
.input {
  width: 500px;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
  border-radius: 5px;
}
input:focus,
textarea:focus
{
    box-shadow: 0 0 20px #1670BE;
    outline-offset: 0px;
    outline: none;
}
.contactOffer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
}
.contactInfo {
  position: relative;
  bottom: 10px; 
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  padding-top: 20px; 
  padding-bottom: 20px; 
}
.imageTitle {
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 50px; 
  padding-bottom: 20px;
  text-decoration: underline;  
}
.stepsImage {
  width: 900px; 
  padding-top: 10px;
  margin: auto;
}
.steps {
  width: 900px; 
  height:500px;
}
.handsImage {
  width: 100%;
  max-width: 500px;
  align-content: center;
  margin: auto;
}
.description {
  font-size: 18px;
}
.section3 {
  width: 100%;
  background-image: url("assets/house2.jpg");
  background-attachment: fixed;
  background-position: top;
  background-position-y: -10px; 
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
  border-top: solid 1px burlywood;
  padding: 2em;
}
.section3 input[type=text],
.section3 input[type=email],
.section3 textarea[type=text] {
  width: 500px;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: solid 1px #1670BE;
  background: #eee;
  border-radius: 5px;
  max-width: 400px;
}
.mainForm {
  background-color: rgba(255, 255, 255, .7); 
  border:solid 1px #1670BE; 
  width: 604px; 
  margin: auto;  
  padding-bottom: 5px; 
}
.caption3 {
  text-align: center;
  margin: auto; 
  padding: .25em;
  background-color: white; 
  width: 600px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: #1670BE;
}
.please {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #1670BE;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: underline;
}
.formButton {
  border: none;
  border-radius: 10px;
  background-color: #1c87c9;
  color: white;
  cursor: pointer;
  height:70px;
  width: 400px; 
}
.formButton:hover {
  box-shadow: 0 0 30px #1670BE;
}
.required {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 15px;
  font-weight: bolder;
}
footer {
  background-color: black;
  color: white;
  padding: 5px;
}
@media (min-width: 1024px){
  .section1 {
    width: 100%;
    height: 650px; 
    background-image: url("assets/house.jpg");
    background-attachment: fixed;
    background-position: top;
    background-position-y: 0px; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    border-top: solid 1px burlywood;
  }
  .caption {
    opacity: 90%;
    text-align: center;
    margin: auto; 
    padding: 10px;
    background-color: white; 
    position: relative;
    width: 800px;
  }
  .enterAddress {
    margin: auto;
    position: relative; 
    top: 20px; 
    background-color: rgba(255, 255, 255, .9);
    width: 800px;  
    padding-top: 15px; 
    padding-bottom: 15px; 
  }
  .section2 {
    display: flex;
    flex-direction:column;
    justify-content: center; 
    padding-top: 20px; 
    padding-bottom: 20px; 
  }
  .imageTitle {
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 40px; 
    padding-bottom: 20px;
    text-decoration: underline;
    text-align: center; 
  }
  .stepsImage {
    width: auto; 
    padding-top: 10px;
    margin: auto;
  }
  .steps {
    height:auto; 
    width: 700px; 
  }
  hr {
    border: solid 1px #1670BE; 
    width: 90%
  }
  .section3 {
    width: 100%;
    background-image: url("assets/house2.jpg");
    background-attachment: fixed;
    background-position: top;
    background-position-y: 10px; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    border-top: solid 1px burlywood;
    padding: 2em;
  }
  .handshake {
    width: 500px; 
  }
}
@media (max-width: 850px) {
  hr {
    border: solid 1px #1670BE; 
    width: 90%;
    margin: auto;
  }
  .divider {
   display: none;
  }
  .section1 {
    width: 100%;
    height: 650px; 
    background-image: url("assets/house.jpg");
    background-attachment: fixed;
    background-position: top;
    background-position-y: 0px; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    border-top: solid 1px burlywood;
  }
  .caption {
    opacity: 90%;
    text-align: center;
    padding:0px; 
    background-color: white; 
    width: 700px;
    height: 310px; 
    position: relative; 
    font-size: 14px;  
    padding-top: 10px; 
  }
  .openButton {
    border: none;
    border-radius: 10px;
    background-color: #1c87c9;
    color: white;
    height:70px;
    width: 500px;
    font-size: 18px;
  }
  .formPopup {
    display: none;
    position: relative;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .section2 {
    display:none
  }
  .formButton {
    border: none;
    border-radius: 10px;
    background-color: #1c87c9;
    color: white;
    cursor: pointer;
    height:70px;
    width: 400px; 
    font-weight: bolder;
    font-size: 18px; 
  }
@media (max-width: 400px)
{
  *{
    margin: 0px; 
  }
  body {
    background-color:#1670BE;
  }
  hr {
    border: solid 1px #1670BE; 
    width: 90%;
    margin: auto;
  }
  .header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: auto;
    width: 100%;
    font-size: 14px; 
  }
  .divider {
    display: none;
  }
  .logo {
    margin: auto;
    padding: 0px; 
  }
  .logoPNG{
    width: 150px; 
    height: 150px; 
  }
  .contact {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px; 
  }
  .ready {
    font-size: 20px; 
  }
  .caption {
    opacity: 90%;
    text-align: center;
    padding:0px; 
    background-color: white; 
    width: 325px;
    height: 360px; 
    position: relative; 
    right: 5px;
    font-size: 14px;  
    padding-top: 10px; 
  }
  .let {
    font-size: 20px;
  }
  .enterAddress {
    margin: auto;
    position: relative; 
    top: 20px; 
    background-color: rgba(255, 255, 255, .9);
    width: 325px;  
    padding-top: 15px; 
    padding-bottom: 15px; 
    position: relative; 
    right: 5px;
  }
  .offer {
    width: 325px; 
  }
  .contactOffer {
    position: relative;  
    font-size: 18px
  }
  .contactInfo {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    font-size: 16px; 
  }
  .openButton {
    border: none;
    border-radius: 10px;
    background-color: #1c87c9;
    color: white;
    cursor: pointer;
    height:50px;
    width: 250px;
    font-size: 15px; 
  }
  .section2 { 
    display: none;
  }
  .imageTitle {
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 20px; 
    padding-bottom: 20px;
    text-decoration: underline;
    text-align: center; 
  }
  .stepsImage {
    display:none;
  }
  .steps {
    height:auto; 
    width: 350px;
  }
  .handimage {
    font-size: 12px; 
    display: none; 
  }
  .handshake {
    height: auto; 
    width: 150px;
    display:none
  }
  .description {
    display: none; 
  }
  .section3 {
    width: 100%;
    background-image: url("assets/house2.jpg");
    background-attachment: fixed;
    background-position: top;
    background-position-y: 10px; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    border-top: solid 1px burlywood;
    padding: 2em;
  }
  .handshake {
    width: 500px; 
  }
  .mainForm {
    background-color: rgba(255, 255, 255, .7); 
    border:solid 1px #1670BE; 
    width: 350px; 
    margin: auto;  
    padding-bottom: 5px; 
    position:relative; 
    right: 20px; 
  }
  .caption3 {
    width: 348px;     
  }
  .please {
    padding-top: 10px; 
    padding-bottom: 10px; 
  }
  .section3 input[type=text],
  .section3 input[type=email],
  .section3 textarea[type=text] {
    width: 300px;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: solid 1px #1670BE;
    background: #eee;
    border-radius: 5px;
    max-width: 400px;
  }
  .formButton {
    width: 300px; 
    height: 50px;
    font-weight: bold; 
    font-size: 15px;  
  }
  .required {
    padding-top: 10px; 
  }
  .formContainer {
    min-width: 350px;
    padding: 5px 20px;
    background-color: #fff; 
    margin: auto;
  }
}
}